rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /public/{id} {
      allow get: if resource.data != null;
      allow list: if resource.data != null;
    }
  }
}
